body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#CCE6FF;    
}
nav{
    margin-left: 300px;
}
header {
    padding-left: 12px;
}
header p{
    align-self: center;
    padding:10px;
}


nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
   
}
nav a{
    color: #0056B3;
    text-decoration: wavy;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover{
   background-color:#80BFFF; 
   border-radius: 7px; 
   text-decoration: underline;
}

header { 
   
   display: flex;
   flex-direction: row;
    padding: 1rem; 
}
header h1 {
     text-align: center; 
     color: #007BFF;    

}
.search{
    display: flex;
   
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  
}
.search input{
    width: 400px;
    height: 40px;
    padding: 10px;
    border-color: #80BFFF; 
    border-radius: 30px;  
    margin: 16px 0;    
}
.search img{
    width: 30px;
    height: auto;
    margin-left: 16px;  
     
}
.search button{
    border: none;
    background-color: #CCE6FF;
}


.login{
    position: absolute;
    margin-left: 1100px;
    padding: 10px;

    
}
.login button{   
    border-radius: 6px;
    background-color: #003C73;
    width: 50px;
     
}
.login a{
    text-decoration: none;
    color: #CCE6FF;
}
.main-banner{
    background-image: url('../ASSETS/images/b3.jpg');
    padding-bottom: 150px;
    border-radius: 5px;
}
.main-banner h3{
    font-size: 60px;
    text-align: center;
    color: #003C73;
    padding-top: 120px;

}
.main-banner p{
    font-size: 30px;
    text-align: center;
    color: #0056B3;
    
}
.icon-container{
    display: flex;
    width: 90%;
    justify-content:space-evenly;
    margin-top: 20px;
    
}
.icons img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #007BFF;
}


h2{
    margin-top: 40px;
    text-align: center;
    color:#0056B3 ;
}
.events{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;  
}
.imag-container{
    margin-left: 10%;
    margin-top: 6%;
    
}
 
.card-img-top{
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    padding: 10px;
}
.btn-primary{
    background-color:#003C73 !important;
}
.btn-primary:hover{
    background-color:#5493cf !important;
}
.body-container{
    justify-items: center;
}
.card{
    background-color: #80BFFF !important;
 }
footer{
    text-align: center;
    background-color: #003C73;
    padding: 30px;
    color: #CCE6FF;
}


